<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Home page</title>
</head>
<body>
    <div class="d-flex flex-row justify-content-center align-items-center container border border-dark p-3 mb-2 bg-light text-dark">
        <form method="POST" action="/create/dojo">
            <h1>New Dojo</h1><br>
            <input type="text" name="name" placeholder="Enter Dojo Name"><br><br>
            <input type="submit" value="Create New Dojo"><br>
        </form>
        <div  class="d-flex flex-column justify-content-center align-items-center container border border-5 w-25 p-3 p-3 mb-2 bg-light text-dark">
        <h1>All Dojo</h1>
        {% for dojo in dojos_ninjas %}
        <li>
            <a href="/dojo/{{dojo.id}}">
                {{dojo.name}}              
            </a>
        </li>
        {% endfor %}       
        <a href="/addNinja">Add Ninja</a>
        </div>
    </div>
</body>
</html>